{{! A page when the symbol type is "overloads" }}
{{#if relfileprefix}}<meta name="relfileprefix" content="{{relfileprefix}}">{{/if}}
<div id="{{#if @root.config.multipage}}{{symbol.id}}{{else}}{{symbol.ref}}{{/if}}">

<h1>{{#if symbol.name}}Overload set {{>types/nested-name-specifier symbol=symbol.parent}}{{symbol.name}}{{else}}Unnamed overload set{{/if}}</h1>

<h2>Members</h2>

{{#each symbol.members as |member|}}

<p>{{member.doc.brief}}</p>

<pre><code class="language-cpp">{{> (concat 'signature' '/' (lookup member 'kind')) symbol=member}};</code></pre>
<a href="{{ref}}"><em>» more...</em></a>

{{/each}}

</div>
