{{! A page when the symbol type is "overloads" }}
<div id="{{{symbol.anchor}}}">

<h1>{{#if symbol.name}}Overload set {{>types/nested-name-specifier symbol=symbol.parent}}{{symbol.name}}{{else}}Unnamed overload set{{/if}}</h1>

<h2>Members</h2>

{{#each symbol.members as |member|}}

<p>{{member.doc.brief}}</p>

<pre><code class="language-cpp">{{> (concat 'signature' '/' (lookup member 'kind')) symbol=member}};</code></pre>
<a href="{{{relativize member.url}}}"><em>» more...</em></a>

{{/each}}

</div>
