{{!-- record --}}
<div id="{{symbol.id}}">
    <div>
        <h2>{{symbol.name}}</h2>
        {{{symbol.doc.brief}}}
    </div>
    <div>
        <h3>Synopsis</h3>
        <div>
            <code>
                {{#if symbol.template}}
                {{>template-head symbol.template}}
                {{symbol.tag}} {{symbol.name~}}
                {{#if (neq symbol.template.kind "primary")~}}
                {{>template-args args=symbol.template.args}}
                {{/if}}
                {{else}}
                {{symbol.tag}} {{symbol.name~}}
                {{/if}}
                {{#unless symbol.bases}}
                ;
                {{else}}{{"\n"}}
                {{#each symbol.bases}}
                    {{#if @first}}:{{else}},{{/if}}
                    {{~#unless (eq access ../symbol.defaultAccess)}} {{access}}{{/unless}}
                    {{~#if isVirtual}} virtual{{/if}}
                    {{~null}} {{>declarator type decl-name=""}}
                    {{~#if @last}};{{/if}}
                {{/each}}
                {{/unless}}
            </code>
        </div>
        <div>{{>source symbol.loc}}</div>
        {{#with symbol.interface}}
        {{> tranche tranche=public label=""}}
        {{> tranche tranche=protected label=" Protected"}}
        {{> tranche tranche=private label=" Private"}}
        {{/with}}
    </div>
    {{#if symbol.doc.description}}
        <div>
            <h3>Description</h3>
            {{{symbol.doc.description}}}
        </div>
    {{/if}}
</div>
