{{#if def}}
    <p>
        <span>Declared in file &lt;{{def.file}}&gt; at line {{def.line}}</span>
    </p>
{{else if decl}}
    <p>
        {{#each decl}}
            <span>Declared in file &lt;{{file}}&gt; at line {{line}}</span>
        {{/each}}
    </p>
{{else}}
{{/if}}
