{{#unless @root.config.multipage }}
{{! Single page documentation: symbol is not available to the wrapper but it's available here }}
{{! Include the symbol title at a higher level }}
<div id="{{{symbol.anchor}}}">
<div>
<h2>{{> symbol/qualified-name symbol }}</h2>
{{/unless}}
{{! Brief }}
{{#if symbol.doc.brief}}
<div>
{{{symbol.doc.brief}}}

</div>
{{/if}}
{{#unless @root.config.multipage }}
</div>
{{/unless}}
{{! Synopsis }}
{{#unless (contains (arr "namespace") symbol.kind)}}
<div>
<h3>Synopsis</h3>
<div>
{{>location/source dcl=(primary_location symbol)}}
</div>
{{#if (ne symbol.kind "overloads")}}
<pre>
<code class="source-code cpp">
{{> symbol/signature symbol }}

</code>
</pre>
{{else}}
{{#each symbol.members as | member |}}
<pre>
<code class="language-cpp">
{{> symbol/signature member }}

</code>
</pre>
<a href="{{{relativize member.url}}}"><em>» more...</em></a>
{{/each}}
{{/if}}
</div>
{{/unless}}
{{! Tranches }}
{{#if symbol.interface}}
{{#if (eq symbol.kind "record")}}
{{#with symbol.interface}}
{{>symbol/tranche tranche=public label="" is-namespace=false}}

{{>symbol/tranche tranche=protected label="Protected" is-namespace=false}}

{{>symbol/tranche tranche=private label="Private" is-namespace=false}}
{{/with}}
{{else}}
{{>symbol/tranche tranche=symbol.interface label="" is-namespace=true}}
{{/if}}
{{else if symbol.members}}
{{! Members }}
{{#if (and symbol.members (ne symbol.kind "overloads"))}}
<div>
<h3>Members</h3>
<table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{{#each symbol.members}}
<tr>
<td><a href="#{{anchor}}">{{>symbol/name . nolink=true}}</a></td>
<td>{{{doc.brief}}}</td>
</tr>
{{/each}}
</tbody>
</table>
</div>
{{/if}}
{{/if}}
{{! Using directives }}
{{#if symbol.usingDirectives}}
<div>
{{>symbol/members-table members=symbol.usingDirectives title="Using Directives"}}

</div>

{{/if}}
{{! Description }}
{{#if symbol.doc.description}}
<div>
<h3>Description</h3>
{{{symbol.doc.description}}}

</div>
{{/if}}
{{! Using symbols }}
{{#if symbol.shadows}}
<div>
<h3>Introduced Symbols</h3>
<table>
<thead>
<tr>
<th>Name</th>
</tr>
</thead>
<tbody>
{{#each symbol.shadows}}
<tr>
<td>{{name}}</td>
</tr>
{{/each}}
</tbody>
</table>
</div>

{{/if}}
{{! Exceptions }}
{{#if (ne symbol.kind "overloads")}}
{{#if symbol.doc.exceptions}}
<div>
<h3>Exceptions</h3>
<table>
<thead>
<tr>
<th>Name</th>
<th>Thrown on</th>
</tr>
</thead>
<tbody>
{{#each symbol.doc.exceptions}}
<tr>
<td><code>{{exception}}</code></td>
<td>{{description}}</td>
</tr>
{{/each}}
</tbody>
</table>
</div>
{{/if}}
{{else}}
{{#with (flattenUnique symbol.members "doc.exceptions" "exception") as |allExceptions|}}
{{#if (ne (len allExceptions) 0)}}
<div>
<h3>Exceptions</h3>
<table>
<thead>
<tr>
<th>Name</th>
<th>Thrown on</th>
</tr>
</thead>
<tbody>
{{#each allExceptions as |exception|}}
<tr>
<td><code>{{exception}}</code></td>
<td>{{description}}</td>
</tr>
{{/each}}
</tbody>
</table>
</div>
{{/if}}
{{/with}}
{{/if}}
{{! Return value }}
{{#if symbol.doc.returns}}
<div>
<h3>Return Value</h3>
{{{symbol.doc.returns}}}
</div>
{{/if}}
{{! Template Parameters }}
{{#if (ne symbol.kind "overloads")}}
{{#if symbol.doc.tparams}}
<div>
<h3>Template Parameters</h3>
<table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{{#each symbol.doc.tparams}}
<tr>
<td><strong>{{name}}</strong></td>
<td>{{description}}</td>
</tr>
{{/each}}
</tbody>
</table>
</div>
{{/if}}
{{else}}
{{#with (flattenUnique symbol.members "doc.tparams" "name") as |allTParams|}}
{{#if (ne (len allTParams) 0)}}
<div>
<h3>Template Parameters</h3>
<table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{{#each allTParams as |param|}}
<tr>
<td><strong>{{param.name}}</strong></td>
<td>{{param.description}}</td>
</tr>
{{/each}}
</tbody>
</table>
</div>
{{/if}}
{{/with}}
{{/if}}
{{! Parameters }}
{{#if (ne symbol.kind "overloads")}}
{{#if symbol.doc.params}}
<div>
<h3>Parameters</h3>
<table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{{#each symbol.doc.params}}
<tr>
<td><strong>{{name}}</strong></td>
<td>{{description}}</td>
</tr>
{{/each}}
</tbody>
</table>
</div>
{{/if}}
{{else}}
{{#with (flattenUnique symbol.members "doc.params" "name") as |allParams|}}
{{#if (ne (len allParams) 0)}}
<div>
<h3>Parameters</h3>
<table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{{#each allParams as |param|}}
<tr>
<td><strong>{{param.name}}</strong></td>
<td>{{param.description}}</td>
</tr>
{{/each}}
</tbody>
</table>
</div>
{{/if}}
{{/with}}
{{/if}}
{{! Preconditions }}
{{#if symbol.doc.preconditions}}
<div>
<h3>Preconditions</h3>
{{#each symbol.doc.preconditions}}
<p>{{.}}</p>
{{/each}}
</div>
{{/if}}
{{! Postconditions }}
{{#if symbol.doc.postconditions}}
<div>
<h3>Postconditions</h3>
{{#each symbol.doc.postconditions}}
<p>{{.}}</p>
{{/each}}
</div>
{{/if}}
{{! See Also }}
{{#if symbol.doc.see}}
<div>
<h3>See Also</h3>
{{#each symbol.doc.see}}
<p>{{.}}</p>
{{/each}}
</div>
{{/if}}
{{#unless @root.config.multipage }}
</div>
{{/unless}}
