== {{ page.name }}

{{#if page.doc}}
{{page.doc.brief}}
{{/if}}

=== Synopsis

{{ # if page.decl }}
[,cpp]
----
{{page.decl}}
----
{{/if}}

{{#if page.loc}}
Declared in file <{{page.loc}}>
{{/if}}

{{page.synopsis}}

{{#if page.doc.description}}
=== Description

{{page.doc.description}}

== Basic

{{/if}}

{{! The following are temporary handlebars tests (we are already testing comments here) }}

{{!-- This comment may contain mustaches like }} --}}

// Record detail partial
{{>record-detail}}

// #with to change context
{{#with page.person}}Person: {{firstname}} {{lastname}} in page about `{{../name}}`
{{/with}}

// #each to iterate, change context, and access parent context
People:
{{#each page.people}}* Person: {{firstname}} {{lastname}} in page about `{{../name}}`
{{/each}}

== Expressions

// Render complete context with "." as key
{{.}}

// Use to_string
{{to_string .}}

// Literals
true = {{true}}
false = {{false}}
null = {{null}}
undefined = {{undefined}}
./[true] = {{./[true]}}
./[false] = {{./[false]}}
./[null] = {{./[null]}}
./[undefined] = {{./[undefined]}}
'See Website' = {{'See Website'}}
"See Website" = {{"See Website"}}

// Arrays
Second person is {{page.people.[1].firstname}} {{page.people.[1].lastname}}
Second person is {{page.people.[1].[firstname]}} {{page.people.[1].[lastname]}}

// Dot segments
Second person is {{./page.people.[.].[1].[firstname]}} {{./page.[.].people.[1].[lastname].[.]}}

// Special characters (disabled for adoc)
raw: {{{page.specialChars}}}
html-escaped: {{page.specialChars}}

// Helpers
{{loud page.person.firstname}} {{loud page.person.lastname}}
{{link "See Website" page.url}}

// Helpers with literal values
[source]
----
{{progress "Search" 10 false}}
{{progress "Upload" 90 true}}
{{progress "Finish" 100 false}}
----

// Undefined helper
{{undefinedhelper page.person.lastname}}

// Helpers with hashes
{{link "*project chat*^" href="https://chat.asciidoc.org" role="green"}}

// Subexpressions
{{progress "Upload" 90 (and true true)}}
{{progress "Upload" 90 (and true (and true 'truthy'))}}

// Whitespace control
{{#each nav ~}}
  <a href="{{url}}">
    {{~#if test}}
      {{~title}}
    {{~^~}}
      Empty
    {{~/if~}}
  </a>
{{~/each}}

{{>escaped}}

== Partials

// Basic partials
{{>record-detail}}
{{ > record-detail}}

// Dynamic partials
{{> (whichPartial) }}
{{> (lookup . 'myVariable') }}

// Partial context switch
{{> myPartialContext myOtherContext }}

// Partial parameters
{{> myPartialParam parameter=favoriteNumber }}

{{#each page.people}}
  {{> myPartialParam2 prefix=../prefix firstname=firstname lastname=lastname}}.
{{/each}}

// Partial blocks
{{#> myMissingPartial }}
  Failover content
{{/myMissingPartial}}

// Pass templates to partials
{{#> layoutTemplate }}
My Content
{{/layoutTemplate}}

// Inline partials
{{#*inline "peoplePartial"}}
  My Content
{{/inline~}}
{{#each page.people}}
  {{> peoplePartial}}
{{/each}}

// Block inline partials
{{#> pageLayout}}
  {{#*inline "nav"}}
    My Nav
  {{/inline}}
  {{#*inline "content"}}
    My Content
  {{/inline}}
{{/pageLayout}}

== Blocks

// Block noop
<div class="entry">
  <h1>{{title}}</h1>
  <div class="body">
    {{#noop}}{{body}}{{/noop}}
  </div>
</div>

// Block function
<div class="entry">
  <h1>{{title}}</h1>
  <div class="body">
    {{#bold}}{{body}}{{/bold}}
  </div>
</div>

// Block helper parameter
<div class="entry">
    <h1>{{title}}</h1>
    {{#with story}}
        <div class="intro">{{{intro}}}</div>
        <div class="body">{{{body}}}</div>
    {{/with}}
</div>

// Simple iterators
<div class="entry">
  <h1>{{title}}</h1>
  {{#with story}}
    <div class="intro">{{{intro}}}</div>
    <div class="body">{{{body}}}</div>
  {{/with}}
</div>
<div class="comments">
  {{#each comments}}
    <div class="comment">
      <h2>{{subject}}</h2>
      {{{body}}}
    </div>
  {{/each}}
</div>

// Custom list helper
{{#list nav}}
    <a href="{{url}}">{{title}}</a>
{{/list}}

// Conditionals
{{#if isActive}}
    <img src="star.gif" alt="Active">
{{/if}}

{{#if isActive}}
  <img src="star.gif" alt="Active">
{{else}}
  <img src="cry.gif" alt="Inactive">
{{/if}}

{{#if isStar}}
  <img src="star.gif" alt="Active">
{{else}}
  <img src="cry.gif" alt="Inactive">
{{/if}}

// Chained blocks
// 1
{{#if isActive}}
   HIT <img src="star.gif" alt="Active 1">
{{else if isInactive}}
  <img src="cry.gif" alt="Inactive 1">
{{else}}
  No User
{{/if}}

// 2
{{#if isInactive}}
  <img src="cry.gif" alt="Inactive 2">
{{else if isActive}}
   HIT <img src="star.gif" alt="Active 2">
{{else}}
  No User
{{/if}}

// 3
{{#if isInactive}}
    <img src="cry.gif" alt="Inactive 3">
{{else if isInactive}}
    <img src="star.gif" alt="Inactive 3">
{{else}}
    HIT No User
{{/if}}

// Block hash arguments
{{#list nav id="nav-bar" class="top"}}
    <a href="{{url}}">{{title}}</a>
{{/list}}

// Private variables
{{#list nav}}
  {{@index}}. {{url}}
{{/list}}

// Iterate objects
{{#each peopleobj}}
    Id: {{@index}}, Key: {{@key}}, Name: {{firstname}} {{lastname}}
{{/each}}

// Block parameters
{{#each page.people as |user userId|}}
    Id: {{userId}} Name: {{user.firstname}}
{{/each}}

// Recursive block parameters
{{#each page.people as |user userId|}}
    {{#each user.book as |book bookId|}}
        User Id: {{userId}} Book Id: {{bookId}}
    {{/each}}
{{/each}}

== Built-in Helpers

// Author
{{#if author}}
<h1>{{firstname}} {{lastname}}</h1>
{{/if}}

// Unknown
<div class="entry">
{{#if author2}}
<h1>{{firstname}} {{lastname}}</h1>
{{else}}
<h1>Unknown Author</h1>
{{/if}}
</div>

// Include zero
{{#if 0 includeZero=true}}
<h1>Does render</h1>
{{else}}
<h1>Does not render</h1>
{{/if}}

{{#if 0 includeZero=false}}
<h1>Does not render</h1>
{{else}}
<h1>Does render</h1>
{{/if}}

// Custom
{{#if (isdefined author)}}author defined{{else}}author undefined{{/if}}
{{#if (isdefined value2)}}value2 defined{{else}}value2 undefined{{/if}}

// unless
<div class="entry">
{{#unless license}}
<h3 class="warning">WARNING: This entry does not have a license!</h3>
{{/unless}}
</div>

// each with non objects
<ul class="people_list">
    {{#each names}}
    <li>{{this}}</li>
    {{/each}}
</ul>

// No paragraphs
{{#each paragraphs}}
<p>{{this}}</p>
{{else}}
<p class="empty">No paragraphs</p>
{{/each}}

// indexes and keys
{{#each names}} {{@index}}: {{this}} {{/each}}
{{#each namesobj}} {{@key}}: {{this}} {{/each}}

// with
{{#with page.author}}
{{firstname}} {{lastname}}
{{/with}}

// with block parameters
{{#with city as | city |}}
  {{#with city.location as | loc |}}
    {{../city.name}}: {{loc.north}} {{loc.east}}
  {{/with}}
{{/with}}

// with inverse
{{#with undefinedcity}}
{{name}} (not shown because there is no city)
{{else}}
No city found
{{/with}}

// lookup
{{! this should be looking up ../cities once we have frames. ".." currently goes to the global context. }}
{{#each lookup_test.people}}
{{.}} lives in {{lookup ../lookup_test/cities @index}}
{{/each}}

// lookup2
{{#each lookup_test2.persons as | person |}}
    {{name}} lives in {{#with (lookup ../lookup_test2/cities [resident-in])~}}
      {{name}} ({{country}})
    {{/with}}
{{/each}}

// log (there should be no rendered output)
{{log 'this is a simple log output'}}
{{log 'firstname' firstname 'lastname' lastname}}
{{log "debug logging" level="debug"}}
{{log "info logging" level="info"}}
{{log "info logging is the default"}}
{{log "logging a warning" level="warn"}}
{{log "logging an error" level="error"}}

== Hooks

// Helper missing
{{foo}}
{{foo true}}
{{foo 2 true}}
{{#foo true}}{{/foo}}
{{#foo}}block content{{/foo}}

// Block helper missing
{{#person}}
    {{firstname}} {{lastname}}
{{/person}}