{{!-- variable --}}
<div id="{{symbol.id}}">
    <div>
        <h2>{{symbol.name}}</h2>
        {{{symbol.doc.brief}}}
    </div>
    <div>
        <h3>Synopsis</h3>
        <div>
            <code>
                {{#if symbol.template}}{{>template-head symbol.template}}{{/if~}}
                {{#if (or (eq symbol.template.kind "explicit") (eq symbol.template.kind "partial"))~}}
                    {{~>declarator symbol.type decl-name=symbol.name decl-name-targs=symbol.template.args~}}
                {{~else~}}
                    {{~>declarator symbol.type decl-name=symbol.name decl-name-targs=""~}}
                {{~/if}}
                ;
            </code>
        </div>
        <div>{{>source symbol.loc}}</div>
    </div>
    {{#if symbol.doc.description}}
        <div>
            <h3>Description</h3>
            {{{symbol.doc.description}}}
        </div>
    {{/if}}
</div>